{% extends "password_manager/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form action="{% url 'password_manager:login' %}" method="post">
    {% csrf_token %}
    <!-- <button type="submit" class="btn btn-success">Submit</button> -->
    <section class="vh-90 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                                <!-- {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div class="modal-header error-message">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ message }}</h5>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %} -->

                                <!-- {{ form|crispy}} -->

                                <div class="form__group" id="div_id_username">
                                    <input type="text" id="id_username" class="form__field" placeholder="Username"
                                        name="username" required>
                                    <label for="id_username" class="form__label">Username</label>
                                </div>

                                <div class="form__group" id="div_id_password">
                                    <input type="password" id="id_password" class="form__field" placeholder="Password"
                                        name="password" required>
                                    <label for="id_password" class="form__label">Password</label>
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a>
                                </p>

                                <button class="btn btn-outline-light btn-lg px-5 auth-btn" type="submit">Login</button>

                            </div>

                            <div>
                                <p class="mb-0">Don't have an account? <a href="{% url 'password_manager:signup' %}"
                                        class="text-white-50 fw-bold">Sign
                                        Up</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}