{% extends "password_manager/base.html" %}
{% block content %}

    <div class="modal fade" id="exampleModal33" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: white;" id="exampleModalLabel">Are you sure you want to
                        delete this Password?
                    </h5>

                </div>
                <div class="modal-footer justify-content-center">
                    <a class="nav-link" id="yes-btn" href="">
                        Yes
                    </a>
                    <a class="nav-link" id="no-btn" data-mdb-dismiss="modal">
                        No
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container py-5">
            <div class="row">

                <div class="col-lg-4">
                    <form action="{% url 'users:update_profile' user.pk %}" method="post" enctype="multipart/form-data">


                        <!-- <div class="hidden_image_form">
                        {{p_form}}
                    </div> -->

                        {% csrf_token %}
                        <div class="card" style="background-color: #1d1c24; margin-bottom: 10px">
                            <div class="card-body text-center">
                                <img src="{{ user.profile.image.url }}" alt="avatar" style="width: 350px;"
                                     class="img-fluid profile-pic">
                                <div class="d-flex justify-content-center mb-2 mt-4">

                                    <button type="button" class="btn btn-outline-primary upload-btn">
                                        <i class="fa-solid fa-plus fa-lg"></i>
                                        Upload new photo
                                    </button>

                                </div>
                            </div>
                        </div>

                    </form>
                    <form action="{% url 'users:global_master_password' user.pk %}" method="post">
                        {% csrf_token %}

                        <div class="card mb-3 mb-lg-0">
                            <div class="card-body p-0">

                                {% if is_private_key_exists %}
                                    <h4 class="text-light mb-4 p-0">Change Global Master Password</h4>

                                    <div class="form__group" id="div_id_primary_master_password">
                                        <input type="password" id="id_primary_master_password" class="form__field"
                                               placeholder="Primary Master password"
                                               name="primary_master_password" required>
                                        <label for="id_primary_master_password" class="form__label">Primary Master
                                            password</label>
                                    </div>


                                    <div class="form__group" id="div_id_new_master_password">
                                        <input type="password" id="id_new_master_password" class="form__field"
                                               placeholder="New Master password"
                                               name="new_master_password" required>
                                        <label for="id_new_master_password" class="form__label">New Master
                                            password</label>
                                    </div>

                                    <div class="form__group" id="div_id_confirm_new_master_password">
                                        <input type="password" id="id_confirm_new_master_password" class="form__field"
                                               placeholder="Confirm New Master password"
                                               name="confirm_new_master_password" required>
                                        <label for="id_confirm_new_master_password" class="form__label">Confirm New
                                            Master
                                            password</label>
                                    </div>

                                {% else %}
                                    <h4 class="text-light mb-4 p-0">Set Global Master Password</h4>
                                    <div class="form__group" id="div_id_master_password">
                                        <input type="password" id="id_master_password" class="form__field"
                                               placeholder="Master password"
                                               name="master_password" required>
                                        <label for="id_master_password" class="form__label">Master password</label>
                                    </div>

                                    <div class="form__group" id="div_id_confirm_master_password">
                                        <input type="password" id="id_confirm_master_password" class="form__field"
                                               placeholder="Confirm Master password"
                                               name="confirm_master_password" required>
                                        <label for="id_confirm_master_password" class="form__label">Confirm Master
                                            password</label>
                                    </div>
                                {% endif %}



                                <div class="row p-0 m-0">
                                    <button type="submit" class="btn btn-outline-light update-btn mt-3">
                                        {% if is_private_key_exists %} Change {% else %} Save {% endif %} master
                                        password
                                    </button>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-lg-5">

                    <div class="card mb-4 update-form">
                        <div class="card-body">

                            <form method="post" action="{% url 'users:update_profile' user.pk %}"
                                  enctype="multipart/form-data">

                                <div class="hidden_image_form">
                                    {{ p_form }}
                                </div>

                                {% csrf_token %}
                                <div class="row" style="background-color: #1d1c24; border-radius: 10px; padding: 25px;">
                                    <h4 class="text-light mb-4 p-0">Personal data</h4>
                                    <div class="form__group" id="div_id_username">
                                        <input type="text" id="id_username" class="form__field" placeholder="Username"
                                               name="username" value="{{ u_form.initial.username }}">
                                        <label for="id_username" class="form__label">Username</label>
                                    </div>

                                    <div class="form__group" id="div_id_firstname">
                                        <input type="text" id="id_firstname" class="form__field"
                                               placeholder="First name"
                                               name="first_name" value="{{ u_form.initial.first_name }}">
                                        <label for="id_firstname" class="form__label">First name</label>
                                    </div>

                                    <div class="form__group" id="div_id_lastname">
                                        <input type="text" id="id_lastname" class="form__field" placeholder="Last name"
                                               name="last_name" value="{{ u_form.initial.last_name }}">
                                        <label for="id_lastname" class="form__label">Last name</label>
                                    </div>

                                    <div class="form__group" id="div_id_email">
                                        <input type="email" id="id_email" class="form__field" placeholder="Email"
                                               name="email" value="{{ u_form.initial.email }}">
                                        <label for="id_email" class="form__label">Email</label>
                                    </div>

                                    <div class="row p-0 m-0">
                                        <button type="submit" class="btn btn-outline-light update-btn mt-3">Save
                                            changes
                                        </button>
                                    </div>

                                </div>
                            </form>


                            <form action="{% url 'users:change_password' user.pk %}" method="post">
                                {% csrf_token %}
                                <div class="row"
                                     style="background-color: #1d1c24; margin-top: 10px; border-radius: 10px; padding: 25px;">

                                    <h4 class="text-light mb-4 p-0">Password managment</h4>
                                    <div class="form__group" id="id_old_password">
                                        <input type="password" id="id_old_password" class="form__field"
                                               placeholder="Password" name="old_password">
                                        <label for="id_old_password" class="form__label">Primary Password</label>
                                    </div>

                                    <div class="form__group" id="div_id_new_password">
                                        <input type="password" id="id_new_password1" class="form__field"
                                               placeholder="New Password" name="new_password1" required>
                                        <label for="id_new_password1" class="form__label">New password</label>
                                    </div>

                                    <div class="form__group" id="div_id_confirm_password">
                                        <input type="password" id="id_new_password2" class="form__field"
                                               placeholder="Confirm New password" name="new_password2" required>
                                        <label for="id_new_password2" class="form__label">Confirm New password</label>
                                    </div>
                                    <div class="row p-0 m-0">
                                        <button type="submit" class="btn btn-outline-light update-btn mt-3">Change
                                            password
                                        </button>
                                    </div>


                                </div>
                            </form>

                        </div>
                    </div>

                </div>

                <div class="col-lg-3 itemconfiguration">
                    {% for password in passwords %}
                        <div class="card mb-2" style="background-color: #1d1c24;">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn p-0 m-0" style="background-color: transparent;"
                                        data-mdb-toggle="modal" id="delete-pass-btn" data-mdb-target="#exampleModal33"
                                        data-mdb-profile-password-id="{{ password.pk }}">
                                    <i class="fa-solid fa-xmark fa-2x"></i>
                                </button>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-light">

                                    <i class="fa-brands fa-{{ password.icon_name }} fa-2xl text-light"
                                       style="display: inline-block"></i>
                                    <div style="display: inline-block">
                                        {{ password.title|truncatechars:13 }}
                                    </div>


                                    <div style="display: none; align-items: center;">

                                        <div class="profileImage"
                                             style="width: 45px; height: 45px; line-height: 45px; font-size:25px; display: inline-block">
                                            {{ password.title.0 }}
                                        </div>
                                        <div style="display: inline-block; padding-left: 6px">
                                            {{ password.title|truncatechars:13 }}
                                        </div>

                                    </div>

                                </h5>

                                <p class="card-text text-light">
                                    <h7 style="color: grey;">{{ password.login|truncatechars:22 }}</h7>
                                </p>
                            </div>
                        </div>
                    {% endfor %}


                </div>

            </div>
        </div>
    </section>

{% endblock %}