{% extends "password_manager/base.html" %}
{% block content%}
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <p class="h4" style="color: white;">Passwords list</p>
        <button type="button" class="btn add-button p-3" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
            data-mdb-whatever="@getbootstrap">
            <i class="fa-solid fa-plus fa-lg"></i>
            Add password
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100" id="exampleModalLabel" style="color: white;">
                            <i class="fa-solid fa-shield-halved fa-2xl me-2" style="color: #4547e2;"></i>
                            Pass Keeper
                        </h4>
                    </div>

                    <div class="modal-body">
                        <form action="{% url 'password_manager:add' %}" method="post">
                            {% csrf_token %}
                            <div class="form__group">
                                <input type="text" id="title" class="form__field" placeholder="Title" name="title">
                                <label for="title" class="form__label">Title</label>
                            </div>

                            <div class="form__group">
                                <input type="text" id="login" class="form__field" placeholder="Login" name="login">
                                <label for="login" class="form__label">Login</label>
                            </div>

                            <div class="form__group">
                                <input type="password" id="password" class="form__field" placeholder="Password"
                                    name="password">
                                <label for="password" class="form__label">Password</label>
                            </div>

                            <div class="form__group">
                                <input type="password" id="master-password" class="form__field"
                                    placeholder="Master password" name="master_password">
                                <label for="master-password" class="form__label">Master password</label>
                            </div>

                            <div class="form__group">
                                <input type="url" id="website-address" class="form__field" placeholder="Website Address"
                                    name="website_address">
                                <label for="website-address" class="form__label">Website Address</label>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-outline-primary add p-2">Add password</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100" id="exampleModalLabel" style="color: white;">

                        </h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login"
                                    role="tab" aria-controls="pills-login" aria-selected="true">Password</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register"
                                    role="tab" aria-controls="pills-register" aria-selected="false">Update</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register"
                                    role="tab" aria-controls="pills-register" aria-selected="false">Delete</a>
                            </li>
                        </ul>


                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel"
                                aria-labelledby="tab-login">

                                <form id="myForm">
                                    {% csrf_token %}
                                    <div class="form__group">
                                        <input type="text" id="user_login" class="form__field" placeholder="Login"
                                            name="user_login" readonly>
                                        <label for="user_login" class="form__label">Login</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="password" id="user_password" class="form__field"
                                            placeholder="Password" name="user_password" readonly value="*********">
                                        <label for="user_password" class="form__label">Password</label>
                                    </div>

                                    <input type="hidden" id="password_id" name="password_id">

                                    <div class="form__group">

                                        <input type="password" id="user_master_password" class="form__field"
                                            placeholder="Master password" name="user_master_password">
                                        <label for="user_master_password" class="form__label">Master
                                            password</label>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="submit" class="btn btn-outline-primary add p-2">Show
                                            password</button>
                                    </div>
                                </form>


                            </div>

                            <div class="tab-pane fade" id="pills-register" role="tabpanel"
                                aria-labelledby="tab-register">
                                <form id="myForm">
                                    {% csrf_token %}
                                    <div class="form__group">
                                        <input type="text" id="user_title" class="form__field" placeholder="Title"
                                            name="user_title">
                                        <label for="user_title" class="form__label">Title</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="text" id="user_login" class="form__field" placeholder="Login"
                                            name="user_login">
                                        <label for="user_login" class="form__label">Login</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="password" id="user_password" class="form__field"
                                            placeholder="Password" name="user_password" readonly value="*********">
                                        <label for="user_password" class="form__label">Password</label>
                                    </div>

                                    <input type="hidden" id="password_id" name="password_id">

                                    <div class="form__group">

                                        <input type="password" id="user_master_password" class="form__field"
                                            placeholder="Master password" name="user_master_password">
                                        <label for="user_master_password" class="form__label">Master password</label>
                                    </div>


                                    <div class="form__group">
                                        <input type="text" id="user_website" class="form__field"
                                            placeholder="Website Address" name="user_website" readonly>
                                        <label for="user_website" class="form__label">Website Address</label>
                                    </div>

                                    <div class="modal-footer justify-content-center">
                                        <button type="submit" class="btn btn-outline-primary update p-2">Update</button>
                                    </div>
                                </form>

                            </div>
                        </div>



                        <!-- <div class="form__group">
                                <input type="text" id="user_title" class="form__field" placeholder="Title"
                                    name="user_title" readonly>
                                <label for="user_title" class="form__label">Title</label>
                            </div>

                            <div class="form__group">
                                <input type="text" id="user_login" class="form__field" placeholder="Login"
                                    name="user_login" readonly>
                                <label for="user_login" class="form__label">Login</label>
                            </div>

                            <div class="form__group">
                                <input type="password" id="user_password" class="form__field" placeholder="Password"
                                    name="user_password" readonly value="*********">
                                <label for="user_password" class="form__label">Password</label>
                            </div>

                            <input type="hidden" id="password_id" name="password_id">

                            <div class="form__group">

                                <input type="password" id="user_master_password" class="form__field"
                                    placeholder="Master password" name="user_master_password">
                                <label for="user_master_password" class="form__label">Master password</label>
                            </div>


                            <div class="form__group">
                                <input type="text" id="user_website" class="form__field" placeholder="Website Address"
                                    name="user_website" readonly>
                                <label for="user_website" class="form__label">Website Address</label>
                            </div> -->

                        <!-- <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-outline-primary add p-2">Show password</button>
                            <button type="submit" class="btn btn-outline-primary update p-2">Update</button>
                            <button type="submit" class="btn btn-outline-primary delete p-2">Delete</button>
                        </div> -->

                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 mt-2">
        {% for password in passwords_list %}
        <div class="col">
            <div class="card h-100">
                <a href="{{ password.website_address }}" class="typeA" target="_blank">
                    <i class="fa-brands fa-{{ password.icon_name }} fa-10x text-light"></i>

                    <div class="profile-container" style="display: none;">
                        <div class="profileImage">
                            {{ password.title.0 }}
                        </div>
                    </div>
                </a>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">{{ password.title|truncatechars:16 }}</h5>

                    <h7 style="color: grey;">{{ password.login|truncatechars:22 }}</h7>
                    </p>
                    <button type="button" id="get_password_btn" class="btn btn-outline-primary p-2"
                        data-mdb-ripple-color="dark" data-mdb-toggle="modal" data-mdb-target="#exampleModal2"
                        data-mdb-pass_id={{password.id}} data-mdb-pass_login="{{password.login}}"
                        data-mdb-pass_title="{{password.title}}" data-mdb-pass_icon="{{password.icon_name}}"
                        data-mdb-website="{{password.website_address}}">Manage
                        password</button>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}