{% extends "password_manager/base.html" %}
{% block content%}
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <p class="h4" style="color: white;">Passwords list</p>
        <button type="button" class="btn add-button p-3" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
            data-mdb-whatever="@getbootstrap">
            <i class="fa-solid fa-plus fa-lg"></i>
            Add password
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">New
                            message</h5>
                        <button type="button" class="btn-close btn-close-white" data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!-- Title input -->
                            <!-- <div class="form-outline mb-4">
                                <input type="text" id="form1Example1" class="form-control form-control-lg" />
                                <label class="form-label text-light" for="form1Example1">Title</label>
                            </div> -->

                            <!-- Login input -->
                            <!-- <div class="form-outline mb-4">
                                <input type="text" id="form1Example2" class="form-control form-control-lg" />
                                <label class="form-label text-light" for="form1Example2">Login</label>
                            </div> -->

                            <!-- Password input -->
                            <!-- <div class="form-outline mb-4">
                                <input type="password" id="form1Example3" class="form-control form-control-lg" />
                                <label class="form-label text-light" for="form1Example3">Password</label>
                            </div> -->

                            <!-- Master password input -->
                            <!-- <div class="form-outline mb-4">
                                <input type="password" id="form1Example4" class="form-control form-control-lg" />
                                <label class="form-label text-light" for="form1Example4">Master Password</label>
                            </div> -->

                            <!-- Website address input -->
                            <!-- <div class="form-outline mb-4">
                                <input type="text" id="form1Example5" class="form-control form-control-lg" />
                                <label class="form-label text-light" for="form1Example5">Website Address</label>
                            </div> -->

                            <div class="mb-3">
                                <!-- <label for="title-name" class="col-form-label">Title</label> -->
                                <input type="text" class="form-control" id="title-name" placeholder="Title" />
                            </div>

                            <div class="mb-3">
                                <!-- <label for="login-name" class="col-form-label">Login</label> -->
                                <input type="text" class="form-control" id="login-name" placeholder="Login" />
                            </div>

                            <div class="mb-3">
                                <!-- <label for="password-name" class="col-form-label">Password</label> -->
                                <input type="password" class="form-control" id="password-name" placeholder="Password" />
                            </div>

                            <div class="mb-3">
                                <!-- <label for="master-password-name" class="col-form-label">Master Password</label> -->
                                <input type="password" class="form-control" id="master-password-name"
                                    placeholder="Master Password" />
                            </div>

                            <div class="mb-3">
                                <!-- <label for="website-name" class="col-form-label">Website Address</label> -->
                                <input type="url" class="form-control" id="website-name"
                                    placeholder="Website Address" />
                            </div>




                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 mt-2">
        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-instagram fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        T
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">Instagram</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>
                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-youtube fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        T
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">YouTube</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>

                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-amazon fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        T
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">Amazon</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>
                    </p>
                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-whatsapp fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        T
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">Whatsapp</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>
                    </p>
                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-facebook-f fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        T
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">Facebook</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>
                    </p>
                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-linkedin fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        T
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">Linkedin</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>
                    </p>
                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-discord fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        T
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">Discord</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>
                    </p>
                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-twitter fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        T
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">Twitter</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>
                    </p>
                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-google fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class=" profileImage">
                        G
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-light text-center">

                    <h5 style="color: white;">Google</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>
                    </p>
                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-testapp fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        T
                    </div>
                </div>


                <div class="card-body">
                    <p class="card-text text-light text-start">

                    <h5 style="color: white;">testapp</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>

                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <i class="fa-brands fa-google fa-10x text-light"></i>

                <div class="profile-container" style="display: none;">
                    <div class="profileImage">
                        G
                    </div>
                </div>


                <div class="card-body">
                    <p class="card-text text-light text-start">

                    <h5 style="color: white;">Google</h5>

                    <h7 style="color: grey;">ilja200303@gmail.com</h7>
                    </p>

                    <button type="button" class="btn btn-outline-primary p-2" data-mdb-ripple-color="dark">Show my
                        credentials</button>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}